@import url("variables.css");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Segoe UI", Arial, sans-serif;
  display: flex;
  background: var(--background);
  min-height: 100vh;
  overflow-x: hidden;
  color: var(--text);
}

.container {
  max-width: 1200px;

  margin: auto;

  padding: 30px;
}

h1 {
  font-size: 28px;

  font-weight: 700;

  margin-bottom: 25px;
}

.card {
  background: var(--surface);

  border-radius: var(--radius);

  padding: 25px;

  box-shadow: var(--shadow);
}
